<section class="blog">
	<div class="wrapper">
		<div class="container">
			<h3 class="blog__subtitle title title--xxxs title--bold color-gray text-center uppercase">xPider makes your life easy</h3>
			<h2 class="blog__title title title--s title--bold color-black text-center">Make your life easy, get a better way to communicate.</h2>
			<div class="blog__content">
				<div class="blog__item-wrap">
					<article class="blog__item blog__item--m">
						<div class="blog__item-img">
							<img src="../img/home/blog/image-2.png" alt="" />
							<div class="blog__item-cover">
								<a href="" class="blog__item-link">{{ mixins.inline('bookmark') }}</a>
								<a href="" class="blog__item-link">{{ mixins.inline('share') }}</a>
							</div>
						</div>
						<h4 class="blog__item-title txt txt--xxs txt--semi-bold color-d-blue">Bid on works by Rashid Johnson, Harold An cart , Katherine Bradford, and</h4>
						<p class="blog__item-text txt txt--xxxs color-d-blue">15th centure, Renaissance</p>
					</article>
				</div>
				<div class="blog__item-wrap">
					<article class="blog__item blog__item--s blog__item--height">
						<div class="blog__item-img">
							<img src="../img/home/blog/image-1.png" alt="" />

							<div class="blog__item-cover">
								<a href="" class="blog__item-link">{{ mixins.inline('bookmark') }}</a>
								<a href="" class="blog__item-link">{{ mixins.inline('share') }}</a>
							</div>
						</div>
						<h4 class="blog__item-title blog__item-title--m-width txt txt--xxs txt--semi-bold color-d-blue">Bid on works by Rashid Johnson, Harold An cart , Katherine Bradford, and</h4>
						<p class="blog__item-text txt txt--xxxs color-d-blue">15th centure, Renaissance</p>
					</article>
				</div>
				<div class="blog__item-wrap">
					<div class="blog__item blog__item--l">
						<div class="blog__item-img">
							<img src="../img/home/blog/image-3.png" alt="" />
							<div class="blog__item-cover">
								<a href="" class="blog__item-link">{{ mixins.inline('bookmark') }}</a>
								<a href="" class="blog__item-link">{{ mixins.inline('share') }}</a>
							</div>
						</div>
						<h4 class="blog__item-title txt txt--xxs txt--semi-bold color-d-blue">Bid on works by Rashid Johnson, Harold An cart , Katherine Bradford, and</h4>
						<p class="blog__item-text txt txt--xxxs color-d-blue">15th centure, Renaissance</p>
					</div>
				</div>
				<div class="blog__item-wrap">
					<div class="blog__item blog__item--s">
						<div class="blog__item-img">
							<img src="../img/home/blog/image-4.png" alt="" />
							<div class="blog__item-cover">
								<a href="" class="blog__item-link">{{ mixins.inline('bookmark') }}</a>
								<a href="" class="blog__item-link">{{ mixins.inline('share') }}</a>
							</div>
						</div>
						<h4 class="blog__item-title txt txt--xxs txt--semi-bold color-d-blue">Bid on works by Rashid Johnson, Harold An cart , Katherine Bradford, and</h4>
						<p class="blog__item-text txt txt--xxxs color-d-blue">15th centure, Renaissance</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
